---
name: "Build Image and upload to ghcr"
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest 
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
    - uses: actions/checkout@v4
    - uses: docker/setup-qemu-action@v3
      with:
        platforms: arm64
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-unstable
        extra_nix_config: |
          extra-platforms = aarch64-linux
          extra-sandbox-paths = /usr/bin
    - name: Aggressive cleanup
      run: |
        # Remove Java (JDKs)
        sudo rm -rf /usr/lib/jvm

        # Remove .NET SDKs
        sudo rm -rf /usr/share/dotnet

        # Remove Swift toolchain
        sudo rm -rf /usr/share/swift

        # Remove Haskell (GHC)
        sudo rm -rf /usr/local/.ghcup

        # Remove Julia
        sudo rm -rf /usr/local/julia*

        # Remove Android SDKs
        sudo rm -rf /usr/local/lib/android

        # Remove Chromium (optional if not using for browser tests)
        sudo rm -rf /usr/local/share/chromium

        # Remove Microsoft/Edge and Google Chrome builds
        sudo rm -rf /opt/microsoft /opt/google

        # Remove Azure CLI
        sudo rm -rf /opt/az

        # Remove PowerShell
        sudo rm -rf /usr/local/share/powershell

        # Remove CodeQL and other toolcaches
        sudo rm -rf /opt/hostedtoolcache

        docker system prune -af || true
        docker builder prune -af || true
        df -h
    - name: Build container image
      id: build_image
      run: |
        docker login ghcr.io -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }}
        for system in x86_64-linux aarch64-linux; do
          echo
          echo
          echo "Building docker for $system!"
          nix build .#packages.$system.iglu-controller-docker
          sudo docker load < result
          version=$(docker images | grep iglu-controller | head -n1 | awk '{print $2}' | cut -d- -f1)
        done

        echo
        echo
        echo "Pushing docker to ghcr.io!"
        docker tag iglu-controller:$version-arm64 ghcr.io/iglu-sh/iglu-controller:$version-arm64 
        docker tag iglu-controller:$version-amd64 ghcr.io/iglu-sh/iglu-controller:$version-amd64 
        docker push ghcr.io/iglu-sh/iglu-controller:$version-arm64 
        docker push ghcr.io/iglu-sh/iglu-controller:$version-amd64 

        for tag in latest $version; do
          echo
          echo
          echo "Creating multiarch image for $tag!"
          docker manifest create ghcr.io/iglu-sh/iglu-controller:$tag \
          --amend ghcr.io/iglu-sh/iglu-controller:$version-amd64 \
          --amend ghcr.io/iglu-sh/iglu-controller:$version-arm64
          docker manifest push ghcr.io/iglu-sh/iglu-controller:$tag
        done

