[builder]
work_dir = "/tmp/iglu_builder"
allowed_commands = ["nix", "nix-build"]

[builder.cache]
signing_key = "some_secret_key"
url = "https://cache.exaple.com/name"
auth_token = "some_secret_token"

[server]
port = 8000
host = "localhost"
dev_mode = true
